@model ICollection<michaeltroth.blog.Models.Blog>

@foreach (var blog in Model){
    <div class="row">
        <div class="row">
            <h3>@Html.ActionLink(blog.Title, "detail", new { publishedDate = blog.PublishDate.ToShortDateString(), topic=blog.Title })</h3>
        </div>
        <p>
            @blog.ShortSummary
        </p>
        <div class="badge">
            @blog.PublishDate.ToString("dddd MMMM dd, yyyy")
        </div>
        @Html.Partial("topics", blog.Tags)
    </div>
}