@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Twitter</strong> <a href="twitter.com/mxrss">mxrss</a><br/>
    <strong>Email:</strong> <a href="mailto:mxrss@hotmail.com">Email</a>
</address>