@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-8">
    <h1>Welcome to My Site</h1>
    <p>
        Hello visitor this is my blog for development and tips and tricks for programmers on the .net stack. I will occasionally delve 
        into other topics like ElasticSearch and Continous Delivery. But it is a safe bet that this will be primarily for discussion
        about development. 
    </p>
    <p>
        Feel free to check out my blog and let me know what you think on a particular subject in the comments section.
    </p>
        @Html.Partial("BlogRoll")

    </div>
    <div class="col-md-4">
        This is where i am going to have a enumeration of blogs by year in the future 
        Maybe also a tag cloud 
    </div>
</div>